version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod 
    restart: unless-stopped
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.laravel-app.rule=Host(`meusite.com.br`)"
      - "traefik.http.routers.laravel-app.entrypoints=websecure"
      - "traefik.http.routers.laravel-app.tls.certresolver=myresolver"
    environment:
      APP_ENV: production
      APP_DEBUG: false

networks:
  proxy:
    external: true