version: '3.9'

services:
  chatwoot_web:
    container_name: chatwoot_web
    image: chatwoot/chatwoot:latest
    restart: always
    entrypoint: docker/entrypoints/rails.sh
    command: ["/bin/sh", "-c", "bundle exec rails db:migrate && bundle exec rails s -p 3000 -b 0.0.0.0"]
    environment:
      - FRONTEND_URL=https://${CHATWOOT_DOMAIN}
      - RAILS_ENV
      - POSTGRES_HOST
      - POSTGRES_USERNAME
      - POSTGRES_PASSWORD
      - POSTGRES_DATABASE
      - REDIS_HOST
      - REDIS_PORT
      - REDIS_URL
      - MAILER_SENDER_EMAIL
      - SMTP_ADDRESS
      - SMTP_PORT
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - SMTP_AUTHENTICATION
      - SMTP_ENABLE_STARTTLS_AUTO
      - SMTP_SSL
      - SECRET_KEY_BASE
    volumes:
      - ${HOST_DATA_PATH}/storage:/app/storage
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chatwoot_r.rule=Host(`${CHATWOOT_DOMAIN}`)"
      - "traefik.http.routers.chatwoot_r.entrypoints=websecure"
      - "traefik.http.routers.chatwoot_r.tls.certresolver=myresolver"
      - "traefik.http.services.chatwoot_s.loadbalancer.server.port=3000"

  chatwoot_sidekiq:
    container_name: chatwoot_sidekiq
    image: chatwoot/chatwoot:latest
    restart: always
    depends_on:
      - chatwoot_web
    command: ["/bin/sh", "-c", "bundle exec rails db:migrate && bundle exec sidekiq -C config/sidekiq.yml"]
    environment:
      - FRONTEND_URL=https://${CHATWOOT_DOMAIN}
      - RAILS_ENV
      - POSTGRES_HOST
      - POSTGRES_USERNAME
      - POSTGRES_PASSWORD
      - POSTGRES_DATABASE
      - REDIS_HOST
      - REDIS_PORT
      - REDIS_URL
      - MAILER_SENDER_EMAIL
      - SMTP_ADDRESS
      - SMTP_PORT
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - SMTP_AUTHENTICATION
      - SMTP_ENABLE_STARTTLS_AUTO
      - SMTP_SSL
      - SECRET_KEY_BASE
    volumes:
      - ${HOST_DATA_PATH}/storage:/app/storage
    networks:
      - proxy

networks:
  proxy:
    external: true